<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{/layout :: head}">
    <meta charset="UTF-8">
    <title>Customer view</title>
</head>
<body>
<h3>Customer view</h3>
<a th:href="@{/customers}">Back to customer list</a><br>

<fieldset>
    <Legend>Customer</Legend>
    <table th:object="${customer}">
        <tr>
            <th>Name</th>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td th:text="*{email}"></td>
        </tr>
        <tr>
            <th>Address</th>
            <td th:text="*{address}"></td>
        </tr>
    </table>

</fieldset>
<footer th:replace="~{/layout :: footer}"></footer>
</body>
</html>